.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.marked-date {
  background-color: #4D007D; /* your purple */
  color: white;
  font-weight: bold;
  /* add box style */
}
.leave-count {
  font-size: 0.75em;
  color: #fff;
  margin-top: 2px;
}
.react-calendar {
  width: 100%;
  max-width: 300px;
  font-size: 12px; /* Smaller text */
}

.react-calendar__tile {
  padding: 4px !important;   /* Reduce date box padding */
  height: 40px !important;   /* Reduce date box height */
  line-height: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.react-calendar__tile--now {
  background: none !important;
  color: inherit !important;
  font-weight: normal !important;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
